* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.square-input {
  width: 60px;
  height: 60px;
}

.keyboard-letters {
  font-size: 30px;
}

.keyboard-letters button {
  width: 60px;
  height: 60px;
}

.special-key {
  width: 95px!important;
  height: 60px;
}

.backspace svg{
  width: 30px;
  height: 30px;
}