{% extends 'base.html' %}

{% block title %}
    Retreivle
{% endblock %}

{% block body %}
<div class="jumbotron p-3">
    <div class="well container">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="/CMSC-447-Team-Persian-Cat-Project/assets/letter-r.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Retreivle
              </a>
            </div>
          </nav>
    </div>
</div>
<img src="/CMSC-447-Team-Persian-Cat-Project/assets/letter-r.png" alt="">
{% endblock %}