{% extends 'base.html' %}
{% include 'header.html' %}

{% block body %}

<div class="modal fade" id="levelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                <a class="navbar-brand mt-3 mb-3" href="#">
                    <img src="../static/letter-r.png" alt="Logo" width="50" height="50">
                </a>
                <h1 class="modal-title fs-2 fw-bold mb-2" id="exampleModalLabel">RetrieWordle</h1>
                <h1 class="modal-title fs-2 fw-lighter mb-5" id="exampleModalLabel">Guess the 5-letter word.</h1>
                <div class="input-group input-group-lg gap-1 mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="John Doe">
                        <label for="floatingInput">Username</label>
                    </div>
                </div>
                <div class="btn-group btn-group-lg gap-1 mb-3" role="group"
                    aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-success" for="btnradio1">Easy</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-warning" for="btnradio2">Medium</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-danger" for="btnradio3">Hard</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btnradio4">Impossible</label>
                </div>
                <button type="submit" class="btn btn-lg btn-primary mb-3" id="playButton">Play</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="questionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"">
        <div class=" modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-3" id="exampleModalLabel">How To Play</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5>Guess the Wordle in {{ numGuesses }} tries.</h5>
            <ul>
                <li>Each guess must be a valid 5-letter word.</li>
                <li>The color of the tiles will change to show how close your guess was to the word.</li>
            </ul>
            <h6 class="fw-bolder">Examples</h6>
            <div id="green_example">
                <div class="d-flex">
                    <form action="">
                        <div class="row">
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-success border-success square" placeholder="W"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="E"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="A"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength=""
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="R"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="Y"
                                    disabled readonly>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <p>W is in the word and in the correct spot.</p>
            <div id="yellow_example">
                <div class="d-flex">
                    <form action="">
                        <div class="row">
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="P"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-warning border-warning square" placeholder="I"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="L"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength=""
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="L"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="S"
                                    disabled readonly>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <p>I is in the word but in the wrong spot.</p>
            <div id="red_example">
                <div class="d-flex">
                    <form action="">
                        <div class="row">
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="V"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="A"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="G"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength=""
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="U"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="E"
                                    disabled readonly>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <p>U is not in the word in any spot.</p>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="leaderboardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"">
        <div class=" modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-3" id="exampleModalLabel" style="text-align: center;">Global Leaderboard</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="leaderboardData" style="padding-top: 20px;"></div>
        <div class="modal-body">

        </div>
    </div>
</div>
</div>

<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"">
        <div class=" modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3" id="exampleModalLabel">Settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-between">
                <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
                <div class="form-check form-switch form-check-reverse">
                    <input class="form-check-input" type="checkbox" id="darkModeSwitch" checked>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="board">
    <div class="d-flex justify-content-center">
        <form action="">
            {% for i in range(numGuesses) %}
            <div class="row">
                <div class="col p-1">
                    <input type="text" maxlength="1"
                        class="form-control shadow-none text-uppercase text-center bg-dark square-input" placeholder=""
                        disabled readonly>
                </div>
                <div class="col p-1">
                    <input type="text" maxlength="1"
                        class="form-control shadow-none text-uppercase text-center bg-dark square-input" placeholder=""
                        disabled readonly>
                </div>
                <div class="col p-1">
                    <input type="text" maxlength="1"
                        class="form-control shadow-none text-uppercase text-center bg-dark square-input" placeholder=""
                        disabled readonly>
                </div>
                <div class="col p-1">
                    <input type="text" maxlength=""
                        class="form-control shadow-none text-uppercase text-center bg-dark square-input" placeholder=""
                        disabled readonly>
                </div>
                <div class="col p-1">
                    <input type="text" maxlength="1"
                        class="form-control shadow-none text-uppercase text-center bg-dark square-input" placeholder=""
                        disabled readonly>
                </div>
            </div>
            {% endfor %}
        </form>
    </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center mt-4">
    <div class="p-1 keyboard-letters">
        <button type="button" class="btn btn-secondary letter-button">Q</button>
        <button type="button" class="btn btn-secondary letter-button">W</button>
        <button type="button" class="btn btn-secondary letter-button">E</button>
        <button type="button" class="btn btn-secondary letter-button">R</button>
        <button type="button" class="btn btn-secondary letter-button">T</button>
        <button type="button" class="btn btn-secondary letter-button">Y</button>
        <button type="button" class="btn btn-secondary letter-button">U</button>
        <button type="button" class="btn btn-secondary letter-button">I</button>
        <button type="button" class="btn btn-secondary letter-button">O</button>
        <button type="button" class="btn btn-secondary letter-button">P</button>
    </div>
    <div class="p-1 keyboard-letters">
        <button type="button" class="btn btn-secondary letter-button">A</button>
        <button type="button" class="btn btn-secondary letter-button">S</button>
        <button type="button" class="btn btn-secondary letter-button">D</button>
        <button type="button" class="btn btn-secondary letter-button">F</button>
        <button type="button" class="btn btn-secondary letter-button">G</button>
        <button type="button" class="btn btn-secondary letter-button">H</button>
        <button type="button" class="btn btn-secondary letter-button">J</button>
        <button type="button" class="btn btn-secondary letter-button">K</button>
        <button type="button" class="btn btn-secondary letter-button">L</button>
    </div>
    <div class="p-1 keyboard-letters">
        <button type="button" class="btn btn-secondary special-key letter-button">ENTER</button>
        <button type="button" class="btn btn-secondary letter-button">Z</button>
        <button type="button" class="btn btn-secondary letter-button">X</button>
        <button type="button" class="btn btn-secondary letter-button">C</button>
        <button type="button" class="btn btn-secondary letter-button">V</button>
        <button type="button" class="btn btn-secondary letter-button">B</button>
        <button type="button" class="btn btn-secondary letter-button">N</button>
        <button type="button" class="btn btn-secondary letter-button">M</button>
        <button type="button" class="btn btn-secondary special-key backspace  letter-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.25"
                stroke="currentColor" class="">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 9.75 14.25 12m0 0 2.25 2.25M14.25 12l2.25-2.25M14.25 12 12 14.25m-2.58 4.92-6.374-6.375a1.125 1.125 0 0 1 0-1.59L9.42 4.83c.21-.211.497-.33.795-.33H19.5a2.25 2.25 0 0 1 2.25 2.25v10.5a2.25 2.25 0 0 1-2.25 2.25h-9.284c-.298 0-.585-.119-.795-.33Z" />
            </svg>
        </button>
    </div>
</div>

<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

    let guessableWords;
    let answerWords;
    let randomAnswer;
    let numGuesses = 6;
    let username = "";
    let currGuess = 0;

    // Read the guessable words from a text file
    fetch('../static/guessable_words.txt')
        .then(response => response.text())
        .then(data => {
            guessableWords = data.split('\n').map(word => word.trim());
            console.log('Guessable words:', guessableWords);
        })
        .catch(error => {
            console.error('Error reading guessable words:', error);
        });

    // Read the answer words from a text file
    fetch('../static/answer_words.txt')
        .then(response => response.text())
        .then(data => {
            answerWords = data.split('\n').map(word => word.trim());
            console.log('Answer words:', answerWords);
            // Choose a random answer
            let randomIndex = Math.floor(Math.random() * answerWords.length);
            randomAnswer = answerWords[randomIndex];
            console.log('Chosen Answer:', randomAnswer);
        })
        .catch(error => {
            console.error('Error reading answer words:', error);
        });

    $(document).ready(function () {

        $('#darkModeSwitch').on('change', function() {
        if ($(this).is(':checked')) {
            $('html').attr('data-bs-theme', 'dark');
            if ($('.modal-symbol').hasClass('btn-light')) {
                $('.modal-symbol').removeClass('btn-light').addClass('btn-dark');
            }
            letterBoxes = document.getElementsByClassName("square-input");
            for (let i = 0; i < letterBoxes.length; i++) {
                if (letterBoxes[i].classList.contains("bg-light")) {
                    letterBoxes[i].classList.remove("bg-light");
                    letterBoxes[i].classList.add("bg-dark");
                }
            }
        } else {
            $('html').attr('data-bs-theme', 'light');
            if ($('.modal-symbol').hasClass('btn-dark')) {
                $('.modal-symbol').removeClass('btn-dark').addClass('btn-light');
            }
            letterBoxes = document.getElementsByClassName("square-input");
            for (let i = 0; i < letterBoxes.length; i++) {
                if (letterBoxes[i].classList.contains("bg-dark")) {
                    letterBoxes[i].classList.remove("bg-dark");
                    letterBoxes[i].classList.add("bg-light");
                }
            }
        }
    });

        $('#levelModal').modal('show');

        // dont let close modal until username is entered, show alert
        $('#levelModal').on('hide.bs.modal', function (e) {
            if ($('#floatingInput').val() === "") {
                e.preventDefault();
            }
        });

        // When the modal is hidden, set isModalOpen to false
        $('#levelModal').on('hidden.bs.modal', function () {
            $('#questionModal').modal('show');
        });

        $(document).ready(function () {
            $('#leaderboardModal').on('show.bs.modal', function () {
                $.ajax({
                    url: '/get_leaderboard',
                    type: 'GET',
                    success: function (data) {
                        // Create HTML for the leaderboard
                        var leaderboardHtml = '<table style="width: 100%; text-align: center; margin: 0 auto;">';
                        for (var i = 0; i < data.length; i++) {
                            leaderboardHtml += '<tr><td>#' + (i + 1) + '</td><td>' + data[i][0] + '</td><td>' + data[i][1] + '</td></tr>';
                            if (i < data.length - 1) {
                                leaderboardHtml += '<tr><td colspan="3"><hr></td></tr>';
                            }
                        }
                        leaderboardHtml += '</table>';

                        // Update the HTML of the leaderboardData element with the leaderboard data
                        $('#leaderboardData').html(leaderboardHtml);
                    }
                });
            });
        });

        // get level modal input and save username and level
        $('#playButton').click(function () {
            username = $('#floatingInput').val();
            if (username === "") {
                alert("Please enter a username.");
                return;
            }
            else if (username.length > 20) {
                alert("Username must be less than 20 characters.");
                return;
            }

            let level = $('input[name="btnradio"]:checked').next().text();
            if (level === "Easy") {
                numGuesses = 6;
            } else if (level === "Medium") {
                numGuesses = 5;
            } else if (level === "Hard") {
                numGuesses = 4;
            } else if (level === "Impossible") {
                numGuesses = 3;
            }

            // save username to leaderboard db if it doesn't exist and save level
            $.ajax({
                type: "POST",
                url: "/save_username",
                data: {
                    'username': username,
                },
                success: function (response) {
                    console.log(response);
                }
            });

            console.log("Username:", username);
            console.log("Level:", level);
            $('#levelModal').modal('hide');
            $('#questionModal .modal-body h5').text(`Guess the Wordle in ${numGuesses} tries.`);

            // Generate the HTML for the board
            let html = '';
            for (let i = 0; i < numGuesses; i++) {
                html += `
            <div class="d-flex justify-content-center">
                <form action="">
                    <div class="row" id="row${i}">
                        <div class="col p-1">
                            <input type="text" maxlength="1"
                                class="form-control shadow-none text-uppercase text-center bg-dark square-input" placeholder="" disabled readonly>
                        </div>
                        <div class="col p-1">
                            <input type="text" maxlength="1"
                                class="form-control shadow-none text-uppercase text-center bg-dark square-input" placeholder="" disabled readonly>
                        </div>
                        <div class="col p-1">
                            <input type="text" maxlength="1"
                                class="form-control shadow-none text-uppercase text-center bg-dark square-input" placeholder="" disabled readonly>
                        </div>
                        <div class="col p-1">
                            <input type="text" maxlength=""
                                class="form-control shadow-none text-uppercase text-center bg-dark square-input" placeholder="" disabled readonly>
                        </div>
                        <div class="col p-1">
                            <input type="text" maxlength="1"
                                class="form-control shadow-none text-uppercase text-center bg-dark square-input" placeholder="" disabled readonly>
                        </div>
                    </div>
                </form>
            </div>
            `;
            }

            // Replace the contents of the form with the new HTML
            $('#board').html(html);
        });
    });

    const numLetters = 5;
    let guesses = [];
    let finalSubmit = false; // A variable to check when the player has submitted their last guess
    for (let i = 0; i < numGuesses; i++) {
        guesses.push("");
    }

    function keyboardHandler(input) {
        // Check if the key is "Enter" or "Backspace"
        // If any modal is open, ignore the key press
        if ($('#levelModal').hasClass('show') || $('#questionModal').hasClass('show') || $('#leaderboardModal').hasClass('show') || $('#settingsModal').hasClass('show')) {
            return;
        } else {
            if (input.key === "Enter") {
                if (currGuess < numGuesses) {
                    if (guesses[currGuess].length === numLetters && guessableWords.includes(guesses[currGuess])) {
                        if (guesses[currGuess].toLowerCase() == randomAnswer.toLowerCase()) {
                            for (let i = 0; i < numLetters; i++) {
                                let letterBoxes = document.getElementsByClassName("square-input");
                                letterBoxes[currGuess * numLetters + i].classList.remove("bg-dark");
                                letterBoxes[currGuess * numLetters + i].classList.remove("bg-light");
                                letterBoxes[currGuess * numLetters + i].classList.add("bg-success");
                                letterBoxes[currGuess * numLetters + i].classList.add("border-success");

                                // change keyboard letter color
                                let letterButtons = document.getElementsByClassName("letter-button");
                                for (let j = 0; j < letterButtons.length; j++) {
                                    if (letterButtons[j].textContent.toLowerCase() === guesses[currGuess][i]) {
                                        // remove all possible colors
                                        letterButtons[j].classList.remove("btn-secondary");
                                        letterButtons[j].classList.remove("btn-warning");
                                        letterButtons[j].classList.remove("btn-danger");
                                        letterButtons[j].classList.add("btn-success");
                                    }
                                }
                            }

                            let alert = $('<div class="alert alert-success fade show text-center" role="alert">')
                                .text('Congratulations!');

                            // Add the alert to the DOM
                            $('body').prepend(alert);
                            setTimeout(function () {
                                alert.alert('close');
                            }, 1500);
                            finalSubmit = true;

                            // update leaderboard
                            $.ajax({
                                type: "POST",
                                url: "/update_leaderboard",
                                data: {
                                    'username': username,
                                },
                                success: function (response) {
                                    console.log(response);
                                    // send leaderboard to the API specified in the project description
                                    $.ajax({
                                        type: "POST",
                                        url: "/send_leaderboard",
                                        success: function (response) {
                                            console.log(response);
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            console.error(textStatus, errorThrown);
                                        }
                                    });
                                }
                            });

                            setTimeout(function () {
                                location.reload();
                            }, 3000);

                        } else {
                            // go through each letter input and match with the answer and change input box colors
                            let answer = randomAnswer.toLowerCase();
                            let guess = guesses[currGuess].toLowerCase();
                            let letterBoxes = document.getElementsByClassName("square-input");

                            let answerCopy = [...answer];

                            for (let i = 0; i < numLetters; i++) {
                                if (guess[i] === answer[i]) {
                                    letterBoxes[currGuess * numLetters + i].classList.remove("bg-dark");
                                    letterBoxes[currGuess * numLetters + i].classList.remove("bg-light");
                                    letterBoxes[currGuess * numLetters + i].classList.add("bg-success");
                                    letterBoxes[currGuess * numLetters + i].classList.add("border-success");

                                    // change keyboard letter color
                                    let letterButtons = document.getElementsByClassName("letter-button");
                                    for (let j = 0; j < letterButtons.length; j++) {
                                        if (letterButtons[j].textContent.toLowerCase() === guess[i]) {
                                            // remove all possible colors
                                            letterButtons[j].classList.remove("btn-secondary");
                                            letterButtons[j].classList.remove("btn-warning");
                                            letterButtons[j].classList.remove("btn-danger");
                                            letterButtons[j].classList.add("btn-success");
                                        }
                                    }

                                    // Remove the matched letter from the answer copy
                                    answerCopy[i] = null;
                                }
                            }

                            for (let i = 0; i < numLetters; i++) {
                                if (guess[i] !== answer[i] && answerCopy.includes(guess[i])) {
                                    letterBoxes[currGuess * numLetters + i].classList.remove("bg-dark");
                                    letterBoxes[currGuess * numLetters + i].classList.remove("bg-light");
                                    letterBoxes[currGuess * numLetters + i].classList.add("bg-warning");
                                    letterBoxes[currGuess * numLetters + i].classList.add("border-warning");

                                    // change keyboard letter color
                                    let letterButtons = document.getElementsByClassName("letter-button");

                                    for (let j = 0; j < letterButtons.length; j++) {
                                        if (letterButtons[j].textContent.toLowerCase() === guess[i]) {
                                            // if in answer but not in correct spot, change to yellow
                                            if (!letterButtons[j].classList.contains("btn-success")) {
                                                letterButtons[j].classList.remove("btn-secondary");
                                                letterButtons[j].classList.add("btn-warning");
                                            }
                                        }
                                    }

                                    // Remove the matched letter from the answer copy
                                    answerCopy[answerCopy.indexOf(guess[i])] = null;
                                } else if (guess[i] !== answer[i]) {
                                    letterBoxes[currGuess * numLetters + i].classList.remove("bg-dark");
                                    letterBoxes[currGuess * numLetters + i].classList.remove("bg-light");
                                    letterBoxes[currGuess * numLetters + i].classList.add("bg-danger");
                                    letterBoxes[currGuess * numLetters + i].classList.add("border-danger");

                                    // change keyboard letter color
                                    let letterButtons = document.getElementsByClassName("letter-button");

                                    for (let j = 0; j < letterButtons.length; j++) {
                                        if (letterButtons[j].textContent.toLowerCase() === guess[i]) {
                                            if (!letterButtons[j].classList.contains("btn-success") && !letterButtons[j].classList.contains("btn-warning")) {
                                                letterButtons[j].classList.remove("btn-secondary");
                                                letterButtons[j].classList.add("btn-danger");
                                            }
                                        }
                                    }
                                }
                            }
                            currGuess++;
                            if (currGuess === numGuesses) {
                                finalSubmit = true;
                                // alert user of correct answer
                                let alert = $('<div class="alert alert-light fade show text-center" role="alert">')
                                    .text(randomAnswer);

                                $('body').prepend(alert);
                                setTimeout(function () {
                                    alert.alert('close');
                                }, 3000);

                                setTimeout(function () {
                                    location.reload();
                                }, 3000);
                            }
                        }
                    }
                    else {
                        if (guesses[currGuess].length < numLetters) {
                            let alert = $('<div class="alert alert-light fade show text-center" role="alert">')
                                .text('Not enough letters.');

                            // Add the alert to the DOM
                            $('body').prepend(alert);
                            // Remove the alert after 3 seconds
                            setTimeout(function () {
                                alert.alert('close');
                            }, 1500);
                        }
                        else if (!guessableWords.includes(guesses[currGuess])) {
                            let alert = $('<div class="alert alert-light fade show text-center" role="alert">')
                                .text('Not in word list.');

                            $('body').prepend(alert);
                            setTimeout(function () {
                                alert.alert('close');
                            }, 1500);
                        }
                    }
                }
            } else if (input.key === "Backspace") {
                if (currGuess < numGuesses - 1 || !finalSubmit) { // Checks if the player has submitted their last guess
                    guesses[currGuess] = guesses[currGuess].slice(0, -1); // If not, remove the last letter from the current guess
                }
                updateLetters();
            } else {
                // Check if the key is a letter from A to Z
                if (!input.key.match(/^[a-z]$/i)) {
                    // It's not a letter, ignore it
                    return;
                }
                inputLetter(input.key.toLowerCase());
            }
        }
    }

    function buttonHandler(event) {
        let button = event.currentTarget;

        // Check if the button is the "ENTER" button
        if (button.textContent === "ENTER") {
            // Handle the "ENTER" button
            if (currGuess < numGuesses) {
                if (guesses[currGuess].length === numLetters && guessableWords.includes(guesses[currGuess])) {
                    if (guesses[currGuess].toLowerCase() == randomAnswer.toLowerCase()) {
                        for (let i = 0; i < numLetters; i++) {
                                let letterBoxes = document.getElementsByClassName("square-input");
                                letterBoxes[currGuess * numLetters + i].classList.remove("bg-dark");
                                letterBoxes[currGuess * numLetters + i].classList.remove("bg-light");
                                letterBoxes[currGuess * numLetters + i].classList.add("bg-success");
                                letterBoxes[currGuess * numLetters + i].classList.add("border-success");

                            // change keyboard letter color
                            let letterButtons = document.getElementsByClassName("letter-button");
                            for (let j = 0; j < letterButtons.length; j++) {
                                if (letterButtons[j].textContent.toLowerCase() === guesses[currGuess][i]) {
                                    // remove all possible colors
                                    letterButtons[j].classList.remove("btn-secondary");
                                    letterButtons[j].classList.remove("btn-warning");
                                    letterButtons[j].classList.remove("btn-danger");
                                    letterButtons[j].classList.add("btn-success");
                                }
                            }
                        }

                        let alert = $('<div class="alert alert-success fade show text-center" role="alert">')
                            .text('Congratulations!');

                        // Add the alert to the DOM
                        $('body').prepend(alert);
                        setTimeout(function () {
                            alert.alert('close');
                        }, 1500);
                        finalSubmit = true;
                    }
                    else {
                        // go through each letter input and match with the answer and change input box colors
                        let answer = randomAnswer.toLowerCase();
                        let guess = guesses[currGuess].toLowerCase();
                        let letterBoxes = document.getElementsByClassName("square-input");

                        let answerCopy = [...answer];

                            for (let i = 0; i < numLetters; i++) {
                                if (guess[i] === answer[i]) {
                                    letterBoxes[currGuess * numLetters + i].classList.remove("bg-dark");
                                    letterBoxes[currGuess * numLetters + i].classList.remove("bg-light");
                                    letterBoxes[currGuess * numLetters + i].classList.add("bg-success");
                                    letterBoxes[currGuess * numLetters + i].classList.add("border-success");

                                // change keyboard letter color
                                let letterButtons = document.getElementsByClassName("letter-button");
                                for (let j = 0; j < letterButtons.length; j++) {
                                    if (letterButtons[j].textContent.toLowerCase() === guess[i]) {
                                        // remove all possible colors
                                        letterButtons[j].classList.remove("btn-secondary");
                                        letterButtons[j].classList.remove("btn-warning");
                                        letterButtons[j].classList.remove("btn-danger");
                                        letterButtons[j].classList.add("btn-success");
                                    }
                                }

                                // Remove the matched letter from the answer copy
                                answerCopy[i] = null;
                            }
                        }

                            for (let i = 0; i < numLetters; i++) {
                                if (guess[i] !== answer[i] && answerCopy.includes(guess[i])) {
                                    letterBoxes[currGuess * numLetters + i].classList.remove("bg-dark");
                                    letterBoxes[currGuess * numLetters + i].classList.remove("bg-light");
                                    letterBoxes[currGuess * numLetters + i].classList.add("bg-warning");
                                    letterBoxes[currGuess * numLetters + i].classList.add("border-warning");

                                // change keyboard letter color
                                let letterButtons = document.getElementsByClassName("letter-button");

                                for (let j = 0; j < letterButtons.length; j++) {
                                    if (letterButtons[j].textContent.toLowerCase() === guess[i]) {
                                        // if in answer but not in correct spot, change to yellow
                                        if (!letterButtons[j].classList.contains("btn-success")) {
                                            letterButtons[j].classList.remove("btn-success");
                                            letterButtons[j].classList.add("btn-warning");
                                        }
                                    }
                                }

                                    // Remove the matched letter from the answer copy
                                    answerCopy[answerCopy.indexOf(guess[i])] = null;
                                } 
                                else if (guess[i] !== answer[i]) {
                                    letterBoxes[currGuess * numLetters + i].classList.remove("bg-dark");
                                    letterBoxes[currGuess * numLetters + i].classList.remove("bg-light");
                                    letterBoxes[currGuess * numLetters + i].classList.add("bg-danger");
                                    letterBoxes[currGuess * numLetters + i].classList.add("border-danger");

                                // change keyboard letter color
                                let letterButtons = document.getElementsByClassName("letter-button");

                                for (let j = 0; j < letterButtons.length; j++) {
                                    if (letterButtons[j].textContent.toLowerCase() === guess[i]) {
                                        letterButtons[j].classList.remove("btn-secondary");
                                        letterButtons[j].classList.add("btn-danger");
                                    }
                                }
                            }
                        }
                        currGuess++;
                    }
                }
                else {
                    if (guesses[currGuess].length < numLetters) {
                        let alert = $('<div class="alert alert-light fade show text-center" role="alert">')
                            .text('Not enough letters.');

                        // Add the alert to the DOM
                        $('body').prepend(alert);
                        // Remove the alert after 3 seconds
                        setTimeout(function () {
                            alert.alert('close');
                        }, 1500);
                    }
                    else if (!guessableWords.includes(guesses[currGuess])) {
                        let alert = $('<div class="alert alert-light fade show text-center" role="alert">')
                            .text('Not in word list.');

                        $('body').prepend(alert);
                        setTimeout(function () {
                            alert.alert('close');
                        }, 1500);
                    }
                }
            }
        }
        else if (button.classList.contains("backspace")) {
            // Handle the "BACKSPACE" button
            if (currGuess < numGuesses - 1 || !finalSubmit) {
                guesses[currGuess] = guesses[currGuess].slice(0, -1);
            }
            updateLetters();
        }
        else {
            // Handle other buttons
            inputLetter(button.textContent.toLowerCase());
        }
    }

    function inputLetter(key) {
        if (guesses[currGuess].length < numLetters) {
            guesses[currGuess] += key;
            updateLetters();
        }
    }

    function updateLetters() {
        let lettersGuessed = currGuess * numLetters + guesses[currGuess].length;
        let letterBoxes = document.getElementsByClassName("square-input");
        for (let i = 0; i < numGuesses; i++) {
            for (let j = 0; j < numLetters; j++) {
                if (i * numLetters + j < lettersGuessed) {
                    letterBoxes[i * numLetters + j].placeholder = guesses[i][j];
                }
                else {
                    //There's probably a better way to remove backspaced letters but this works for now
                    letterBoxes[i * numLetters + j].placeholder = "";
                }
            }
        }
    }

    function testFunc(event) {
        //console.log("button pressed");
        console.log(event.currentTarget.textContent);
    }

    addEventListener("keydown", keyboardHandler);
    //addEventListener("keydown", updateLetters);

    let letterButtons = document.getElementsByClassName("letter-button");
    //letterButtons.onclick = testFunc;
    for (let i = 0; i < letterButtons.length; i++) {
        //letterButtons[i].onclick = testFunc;
        letterButtons[i].addEventListener("click", buttonHandler);
    }
</script>

{% include "footer.html" %}
{% endblock %}
