{% extends 'base.html' %}
{% include 'header.html' %}

{% block body %}

<div class="modal fade" id="questionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-3" id="exampleModalLabel">How To Play</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5>Guess the Wordle in 6 tries.</h5>
            <ul>
                <li>Each guess must be a valid 5-letter word.</li>
                <li>The color of the tiles will change to show how close your guess was to the word.</li>
            </ul>
            <h6>Examples</h6>
            <p>W is in the word and in the correct spot.</p>
            <p>I is in the word but in the wrong spot.</p>
            <p>U is not in the word in any spot.</p>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="leaderboardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-3" id="exampleModalLabel">Leaderboard</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-3" id="exampleModalLabel">Settings</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
        </div>
      </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <form action="">
        <div class="row">
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="col p-1">
                <input type="text" class="form-control square-input" id="formGroupExampleInput" placeholder="">
            </div>
        </div>
    </form>
</div>

<div class="d-flex flex-column justify-content-center align-items-center mt-4">
    <div class="p-1 keyboard-letters">
        <button type="button" class="btn btn-secondary">Q</button>
        <button type="button" class="btn btn-secondary">W</button>
        <button type="button" class="btn btn-secondary">E</button>
        <button type="button" class="btn btn-secondary">R</button>
        <button type="button" class="btn btn-secondary">T</button>
        <button type="button" class="btn btn-secondary">Y</button>
        <button type="button" class="btn btn-secondary">U</button>
        <button type="button" class="btn btn-secondary">I</button>
        <button type="button" class="btn btn-secondary">O</button>
        <button type="button" class="btn btn-secondary">P</button>
    </div>
    <div class="p-1 keyboard-letters">
        <button type="button" class="btn btn-secondary">A</button>
        <button type="button" class="btn btn-secondary">S</button>
        <button type="button" class="btn btn-secondary">D</button>
        <button type="button" class="btn btn-secondary">F</button>
        <button type="button" class="btn btn-secondary">G</button>
        <button type="button" class="btn btn-secondary">H</button>
        <button type="button" class="btn btn-secondary">J</button>
        <button type="button" class="btn btn-secondary">K</button>
        <button type="button" class="btn btn-secondary">L</button>
    </div>
    <div class="p-1 keyboard-letters">
        <button type="button" class="btn btn-secondary special-key">ENTER</button>
        <button type="button" class="btn btn-secondary">Z</button>
        <button type="button" class="btn btn-secondary">X</button>
        <button type="button" class="btn btn-secondary">C</button>
        <button type="button" class="btn btn-secondary">V</button>
        <button type="button" class="btn btn-secondary">B</button>
        <button type="button" class="btn btn-secondary">N</button>
        <button type="button" class="btn btn-secondary">M</button>
        <button type="button" class="btn btn-secondary special-key backspace">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.25" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9.75 14.25 12m0 0 2.25 2.25M14.25 12l2.25-2.25M14.25 12 12 14.25m-2.58 4.92-6.374-6.375a1.125 1.125 0 0 1 0-1.59L9.42 4.83c.21-.211.497-.33.795-.33H19.5a2.25 2.25 0 0 1 2.25 2.25v10.5a2.25 2.25 0 0 1-2.25 2.25h-9.284c-.298 0-.585-.119-.795-.33Z" />
            </svg>
        </button>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}