{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %}
  RetrieWordle
{% endblock %}

{% block body %}

<div class="modal fade" id="levelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                <a class="navbar-brand mt-3 mb-3" href="#">
                    <img src="../static/letter-r.png" alt="Logo" width="50" height="50">
                </a>
                <h1 class="modal-title fs-2 fw-bold mb-2" id="exampleModalLabel">RetrieWordle</h1>
                <h1 class="modal-title fs-2 fw-lighter mb-5" id="exampleModalLabel">Guess the 5-letter word.</h1>
                <div class="input-group input-group-lg gap-1 mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="John Doe">
                        <label for="floatingInput">Username</label>
                    </div>
                </div>
                <div class="btn-group btn-group-lg gap-1 mb-3" role="group"
                    aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-success" for="btnradio1">Easy</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-warning" for="btnradio2">Medium</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-danger" for="btnradio3">Hard</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btnradio4">Impossible</label>
                </div>
                <button type="submit" class="btn btn-lg btn-primary mb-3" id="playButton">Play</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="questionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"">
        <div class=" modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-3" id="exampleModalLabel">How To Play</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5>Guess the Wordle in {{ numGuesses }} tries.</h5>
            <ul>
                <li>Each guess must be a valid 5-letter word.</li>
                <li>The color of the tiles will change to show how close your guess was to the word.</li>
            </ul>
            <h6 class="fw-bolder">Examples</h6>
            <div id="green_example">
                <div class="d-flex">
                    <form action="">
                        <div class="row">
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-success border-success square" placeholder="W"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="E"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="A"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength=""
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="R"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="Y"
                                    disabled readonly>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <p>W is in the word and in the correct spot.</p>
            <div id="yellow_example">
                <div class="d-flex">
                    <form action="">
                        <div class="row">
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="P"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-warning border-warning square" placeholder="I"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="L"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength=""
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="L"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="S"
                                    disabled readonly>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <p>I is in the word but in the wrong spot.</p>
            <div id="red_example">
                <div class="d-flex">
                    <form action="">
                        <div class="row">
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="V"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="A"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="G"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength=""
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="U"
                                    disabled readonly>
                            </div>
                            <div class="col p-1">
                                <input type="text" maxlength="1"
                                    class="form-control shadow-none text-uppercase text-center bg-danger border-danger square" placeholder="E"
                                    disabled readonly>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <p>U is not in the word in any spot.</p>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="leaderboardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"">
        <div class=" modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-3" id="exampleModalLabel" style="text-align: center;">Leaderboard</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="leaderboardData" style="padding-top: 20px;"></div>
        <div class="modal-body">

        </div>
    </div>
</div>
</div>

<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"">
        <div class=" modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3" id="exampleModalLabel">Settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-between">
                <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
                <div class="form-check form-switch form-check-reverse">
                    <input class="form-check-input" type="checkbox" id="darkModeSwitch" checked>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="board">
    <div class="d-flex justify-content-center">
        <form action="">
            {% for i in range(numGuesses) %}
            <div class="row">
                {% for j in range(5) %}
                <div class="col p-1">
                    <input type="text" maxlength="1"
                        class="form-control shadow-none text-uppercase text-center bg-dark square-input" placeholder=""
                        disabled readonly>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </form>
    </div>
</div>

<div id="keyboard">
    <div class="d-flex flex-column justify-content-center align-items-center mt-4">
        <div class="p-1 keyboard-letters">
            <button type="button" class="btn btn-secondary letter-button">Q</button>
            <button type="button" class="btn btn-secondary letter-button">W</button>
            <button type="button" class="btn btn-secondary letter-button">E</button>
            <button type="button" class="btn btn-secondary letter-button">R</button>
            <button type="button" class="btn btn-secondary letter-button">T</button>
            <button type="button" class="btn btn-secondary letter-button">Y</button>
            <button type="button" class="btn btn-secondary letter-button">U</button>
            <button type="button" class="btn btn-secondary letter-button">I</button>
            <button type="button" class="btn btn-secondary letter-button">O</button>
            <button type="button" class="btn btn-secondary letter-button">P</button>
        </div>
        <div class="p-1 keyboard-letters">
            <button type="button" class="btn btn-secondary letter-button">A</button>
            <button type="button" class="btn btn-secondary letter-button">S</button>
            <button type="button" class="btn btn-secondary letter-button">D</button>
            <button type="button" class="btn btn-secondary letter-button">F</button>
            <button type="button" class="btn btn-secondary letter-button">G</button>
            <button type="button" class="btn btn-secondary letter-button">H</button>
            <button type="button" class="btn btn-secondary letter-button">J</button>
            <button type="button" class="btn btn-secondary letter-button">K</button>
            <button type="button" class="btn btn-secondary letter-button">L</button>
        </div>
        <div class="p-1 keyboard-letters">
            <button type="button" class="btn btn-secondary special-key letter-button">ENTER</button>
            <button type="button" class="btn btn-secondary letter-button">Z</button>
            <button type="button" class="btn btn-secondary letter-button">X</button>
            <button type="button" class="btn btn-secondary letter-button">C</button>
            <button type="button" class="btn btn-secondary letter-button">V</button>
            <button type="button" class="btn btn-secondary letter-button">B</button>
            <button type="button" class="btn btn-secondary letter-button">N</button>
            <button type="button" class="btn btn-secondary letter-button">M</button>
            <button type="button" class="btn btn-secondary special-key backspace  letter-button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.25"
                    stroke="currentColor" class="">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9.75 14.25 12m0 0 2.25 2.25M14.25 12l2.25-2.25M14.25 12 12 14.25m-2.58 4.92-6.374-6.375a1.125 1.125 0 0 1 0-1.59L9.42 4.83c.21-.211.497-.33.795-.33H19.5a2.25 2.25 0 0 1 2.25 2.25v10.5a2.25 2.25 0 0 1-2.25 2.25h-9.284c-.298 0-.585-.119-.795-.33Z" />
                </svg>
            </button>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}
